
@import url('https://fonts.googleapis.com/css?family=Numans');


main {
    background: #D9B280;
    font-family: "Roboto", sans-serif;
}

.containere {
    background: #FFFFFF;
    width: 900px;
    height: 650px;
    margin: 5% auto;
    position: relative;
    border-radius: 5%;
}


    .containere .map {
        width: 45%;
        float: left;
    }

    .containere .contact-form {
        width: 53%;
        margin-left: 2%;
        float: left;
    }

        .containere .contact-form .title {
            font-size: 2.5em;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: #242424;
            margin: 5% 8%;
        }

        .containere .contact-form .subtitle {
            font-size: 1.2em;
            font-weight: 400;
            margin: 0 4% 5% 8%;
        }

        .containere .contact-form input,
        .containere .contact-form textarea {
            width: 330px;
            padding: 3%;
            margin: 2% 8%;
            color: #242424;
            border: 1px solid #B7B7B7;
        }

            .containere .contact-form input::placeholder,
            .containere .contact-form textarea::placeholder {
                color: #242424;
            }

        .containere .contact-form .btn-send {
            background: #A383C9;
            width: 180px;
            height: 60px;
            color: #FFFFFF;
            font-weight: 700;
            margin: 2% 8%;
            border: none;
        }



