@{
    ViewBag.Title = "Contact";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Bootstrap JavaScript (requires jQuery) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- Your custom styles or additional scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <section class="form-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="heading-title" style="font-family:Cambria;"><h3><strong><em>CONTACTANOS</em></strong></h3></div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-4" style="background-color:aliceblue;border-radius:0px 20px;">
                    <div class="contact-box">
                        <br />
                        <ul class="list-inline">
                            <li>
                                <div class="contact">
                                    <i class="fa fa-map-marker" aria-hidden="true">  Dirección</i>
                                    <br />
                                    <p>San Roque – Surco<br>Calle Hércules 174</p>
                                </div>
                            </li>
                            <hr style="background-color:black;" />
                            <li>
                                <div class="contact">
                                    <i class="fa fa-envelope" aria-hidden="true">  Correo</i>
                                    <br />
                                    <p>contacto@estefanoinversion.com<br>info@estefanoinmobiliario.com</p>
                                </div>
                            </li>
                            <hr style="background-color:black;" />
                            <li>
                                <div class="contact">
                                    <i class="fa fa-mobile" aria-hidden="true"> WhastApp</i>
                                    <br />
                                    <p>+51 977837618<br>+51 946720530</p>
                                </div>
                            </li>
                            <hr style="background-color:black;" />
                            <li>

                                <div class="contact">
                                    <i class="fa fa-envelope social_icon" aria-hidden="true">   Redes Sociales</i>
                                    <br />
                                    <br />
                                    <a href="#"><i style="font-size:30px;" class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i style="font-size:30px;" class="fab fa-google-plus-square"></i></a>
                                    <a href="#"><i style="font-size:30px;" class="fab fa-twitter-square"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="row">
                        <div class="heading-title" style="font-family:Cambria;text-align:justify;"><h3>    <strong><em>COMENTANOS</em></strong></h3></div>
                    </div>
                    <br />
                    <div class="form-box-inner">
                        <form action="https://formsubmit.co/i202214932@cibertec.edu.pe" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="nombre" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="correo" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" name="number" placeholder="teléfono" required>
                            </div>
                            <div class="form-group">
                                <textarea rows="4" class="form-control" name="message" placeholder="Escribenos..." required></textarea>
                            </div>
                            <button type="submit" style="background-color:mediumorchid" class="btn custom-button">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="heading-title" style="font-family:Cambria;"><h3>    <strong><em>UBICACIÓN</em></strong></h3></div>
                    </div>
                    <br />
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235526.90924712367!2d75.7237618214095!3d22.724228429904368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcad1b410ddb%3A0x96ec4da356240f4!2sIndore%2C+Madhya+Pradesh!5e0!3m2!1sen!2sin!4v1564059499022!5m2!1sen!2sin" width="400" height="400" frameborder="0" style="border-radius:0px 20px;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container body-content">
        <p style="color:white;font-size:17px;">  <strong><em> &copy; @DateTime.Now.Year - ESTEFANO SAC</em></strong></p>
    </footer>
</body>
</html>
